<!DOCTYPE html>

<footer>
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/KenLWabibi">GitHub</a>
                    <span>&#x1F43A;</span>
                    <a href="https://KenLWabibi.github.io/">GitHub.io</a>
                    <span>&#x1F43A;</span>
                    <a href="https://KenLWabibi.github.io/web215/">WEB215</a>
                    <span>&#x1F43A;</span>
                    <a href="https://www.freecodecamp.org/poacode">freeCodeCamp</a>
                    <span>&#x1F43A;</span>
                    <a href="https://www.codecademy.com/profiles/Poacode">Codeacademy</a>
                    <span>&#x1F43A;</span>
                    <a href="https://jsfiddle.net/u/poacode/fiddles/">JSFiddle</a>
                    <span>&#x1F43A;</span>
                    <a href="https://www.linkedin.com/in/ken-wabibi-715158a2/">Linkedin</a>
                </li>
            </ul>
        </nav>
        <p>Website designed by Ken Wabibi | Certified in <a href="https://freecodecamp.org/certification/poacode/responsive-web-design">Responsive Web Design</a> &amp; 
        <a href="https://freecodecamp.org/certification/poacode/javascript-algorithms-and-data-structures-v8">Javascript Algorithms and Data Structures</a></p>
</footer>
