/* Html */
html{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background: linear-gradient(to right, #535378, #8888aa);
} 

/* Header */
header, footer {
    padding: 10px 1px;
    text-align: center;
    margin: 0;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Body */
body {
    
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px; /* Remove padding on body, it may conflict with other elements */
    margin: 10px; /* a tiny bit of top/bottom margin overall */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes at least full height */
}

/* Headings */
h1 {
    padding: 0;
    margin: 4px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

h2, h4 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0px;
}

/* Main */
main {
    flex-grow: 1; /* Ensures main content takes available space */
    width: 90%;
    max-width: 1000px;
    border: thin solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 5px 35px 20px 35px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Navigation */
nav {
    text-align: center;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 2rem;
}

nav li {
    display: inline-block;
    padding: 2px;
    margin: 0 5px;
    font-size: 1em;
}

/* Dropdown Styles */
.dropdown {
    position: relative; /* Make sure the dropdown menu positions correctly */
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
	border-radius: 1rem;
    min-width: 160px;
    top: 100%;
    left: 0;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
	border-radius: 1rem;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #444;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Links */
a {
	color: #20205D;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
	color: #ccc;
    background-color: #20205D;
    border-radius: 5px;
}
main p a {
    color: #20205D;
}
footer p a {
    text-decoration-line: underline;
    color: #20205D;
}

/* Footer */
footer a {
	font-size: 1.2em;
	text-align: center; 
	margin: 0; 
    padding: 0;
}
